
@import url('https://fonts.googleapis.com/css2?family=Bahiana&display=swap');

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    background-color:(#2C5234) ;
    color: #EEE1C6;
    font-family: Georgia, serif;
    padding: 20px;
}

h1 {
    font-family: 'Bahiana', cursive;
    font-size: 4em;
    color:#EEE1C6;
    text-align: center;
    text-shadow: 4px 4px 0 #1E1E1E;
    margin-bottom: 20px;
}
